allow dumpstate boot_mode_prop:file r_file_perms:
allow dumpstate bg_daemon_prop:file r_file_perms;
allow dumpstate bg_boot_complete_prop:file r_file_perms;
allow dumpstate debugfs_mmc:dir r_dir_perms;
allow dumpstate per_mgr_state_prop:file r_file_perms;
allow dumpstate sdm_idle_time_prop:file r_file_perms;
allow dumpstate spcomlib_prop:file r_file_perms;
allow dumpstate sys_usb_tethering_prop:file r_file_perms;
allow dumpstate sys_usb_controller_prop:file r_file_perms
allow dumpstate sys_usb_configfs_prop:file r_file_perms;
allow dumpstate sysfs_zram:dir r_dir_perms;
allow dumpstate uicc_prop:file r_file_perms;
allow dumpstate vendor_rild_libpath_prop:file r_file_perms;
allow dumpstate wcnss_prop:file r_file_perms;
allow dumpstate wififtmd_prop:file r_file_perms;
