type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket1";
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket2";
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket3";
type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket1";
type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket2";
type_transition mm-qcamerad camera_data_file:sock_file camera_socket "cam_socket3";

allow mm-qcamerad { untrusted_app priv_app }:fd use;
allow mm-qcamerad sysfs_graphics:file { read open };
allow mm-qcamerad system_server:unix_stream_socket { read write };
allow mm-qcamerad mm-qcamerad:process getattr;
allow mm-qcamerad sysfs:file { read open getattr };
