allow radio qcom_ims_prop:file { getattr open read };
allow radio qcom_ims_prop:property_service set; 
allow radio vendor_file:file { read open getattr execute };
